<h3 class="ml-9">Datos del Plan de Mejoramiento</h3>

<div class="card-body">

    <div class="form-group row">
        <div class="col-lg-6">
            <label>Título del Plan:</label>
            <input disabled type="text" class="form-control" value="{{plan_mejora.titulo}}" />
        </div>

        <div class="col-lg-6">
            <label>Indicador:</label>
            <input disabled type="text" class="form-control" value="{{plan_mejora.lenar_Indicador.indicador.nombre}}" />
        </div>

    </div>

    <div class="form-group row">

        <div class="col-lg-6">
            <label>Fecha de Inicio:</label>
            <input disabled type="text" class="form-control" value="{{plan_mejora.fecha_inicio}}" />
        </div>

        <div class="col-lg-6">
            <label>Fecha de Terminación:</label>
            <div class="input-group">
                <input disabled type="text" class="form-control" value="{{plan_mejora.fecha_termin}}" />
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-6">
            <label>¿CUANTO COSTARÁ?:</label>
            <input disabled type="text" class="form-control" value= "$ {{plan_mejora.cuento_costara}}"/> 
            <span class="form-text text-muted">Escriba el valor del plan</span>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-lg-6">
            <label>¿QUE?:</label>
            <textarea disabled class="form-control" name="que" id="que" cols="30"
                rows="10">{{plan_mejora.que}}</textarea>
            <span class="form-text text-muted">Actividad a Realizar</span>
        </div>

        <div class="col-lg-6">
            <label>¿PARA QUE?:</label>
            <textarea disabled class="form-control" cols="30" rows="10">{{plan_mejora.para_que}}</textarea>
            <span class="form-text text-muted">Propósito de la Actividad</span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-6">
            <label>¿QUIEN?:</label>
            <div class="input-group">
                <textarea disabled class="form-control" cols="30" rows="10">{{plan_mejora.quien}}</textarea>
            </div>
            <span class="form-text text-muted">Responsable</span>

        </div>

        <div class="col-lg-6">
            <label>¿DONDE?:</label>
            <textarea disabled class="form-control" cols="30" rows="10">{{plan_mejora.donde}}</textarea>
            <span class="form-text text-muted">Lugar Donde se Realiza la Actividad</span>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-lg-12">
            <label>¿COMO?:</label>
            <textarea disabled class="form-control" cols="30" rows="10">{{plan_mejora.como}}</textarea>
            <span class="form-text text-muted">Estrategias para Realizar la Actividad</span>
        </div>
    </div>
</div>