{% load static %}
	<!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts -->

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="{% static 'theme/demo1/dist/assets/media/logos/WE-l1.ico' %}" />

    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="{% static 'theme/demo1/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css'  %}" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="{% static 'theme/demo1/dist/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'theme/demo1/dist/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->
    <link href="{% static 'theme/demo1/dist/assets/css/skins/header/base/navy.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'theme/demo1/dist/assets/css/skins/header/menu/light.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'theme/demo1/dist/assets/css/skins/brand/navy.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'theme/demo1/dist/assets/css/skins/aside/light.css' %}" rel="stylesheet" type="text/css" />

    