{% extends 'base/index.html' %}

{% block meta %}
<base href="../../../">
<meta charset="utf-8" />
<meta name="description" content="Datatable HTML table" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
{% endblock meta %}

{% block titulo %}
    <title>Streaming</title>
{% endblock titulo %}

{% block content %}


<div class="row ml-6">
    
    <div class="card card-custom col-lg-11 mt-5 ml-6">
        <iframe title="pgp_sanitas" width="100%" height="630px" src="https://app.powerbi.com/view?r=eyJrIjoiYzg0MzhiNWMtZjFkMi00MGM5LTk3YTYtZTI0MDQxNTlhMjNhIiwidCI6Ijk5ZjdiNTVlLTljYmUtNDY3Yi04MTQzLTkxOTc4MjkxOGFmYiIsImMiOjR9&pageName=ReportSection208b1025e7531312dba0" frameborder="0" allowFullScreen="true"></iframe>
        <!-- <iframe title="prueba_cumi" width="100%" height="630px" src="https://app.powerbi.com/view?r=eyJrIjoiMGI2NmQ4NjctYmUyZC00NzU0LThmZmEtYjYyZTM1M2IyMGNkIiwidCI6Ijk5ZjdiNTVlLTljYmUtNDY3Yi04MTQzLTkxOTc4MjkxOGFmYiIsImMiOjR9&pageName=ReportSectionaf7531d4fa3515e619a3" frameborder="0" allowFullScreen="true"></iframe> -->
    </div>
    
</div>



{% endblock content %}			