{% extends 'base/index.html' %}

{% block meta %}
<base href="../../../">
<meta charset="utf-8" />
<meta name="description" content="Datatable HTML table" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
{% endblock meta %}

{% block titulo %}
    <title>Streaming</title>
{% endblock titulo %}

{% block content %}
<!-- <div class="row ml-6">
    
    <div class="card card-custom col-lg-5 mt-6 ml-4">
		<div >
            <iframe width="100%" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZmY0ZjIwNWUtZmFkNS00MDRkLWIyZTUtY2IzNDRjMzQxMjU1IiwidCI6ImE5NDRjNDY2LTczNGItNGJkNC04Y2Q4LWM3N2Q1MjlhMzE1MCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>		
        </div>
    </div>
    
    <div class="card card-custom col-lg-6 mt-6 ml-4">
		<div >
            <iframe width="100%" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiM2EyYmFlMWQtZjI0Ni00MjcwLTg2Y2QtYTY5ZGRiNTY2NDIyIiwidCI6ImE5NDRjNDY2LTczNGItNGJkNC04Y2Q4LWM3N2Q1MjlhMzE1MCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>        
        </div>
    </div>

</div> -->

<div class="row ml-6">
    
    <div class="card card-custom col-lg-11 mt-5 ml-6">
        <iframe title="prueba_cumi" width="100%" height="650px" src="https://app.powerbi.com/view?r=eyJrIjoiMGI2NmQ4NjctYmUyZC00NzU0LThmZmEtYjYyZTM1M2IyMGNkIiwidCI6Ijk5ZjdiNTVlLTljYmUtNDY3Yi04MTQzLTkxOTc4MjkxOGFmYiIsImMiOjR9&pageName=ReportSectioncdabbb258d70b042d09b" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
</div>



{% endblock content %}			