{% extends 'base/index.html' %}

{% block titulo %}
    <title>Crear Grupo General</title>
{% endblock titulo %}


{% block meta %}
    <base href="../../../">
    <meta charset="utf-8" />
    <meta name="description" content="Wizard examples" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
{% endblock meta %}


{% block stilo %}	
    {% load static %}
    <link href="{% static 'theme/demo1/dist/assets/css/pages/wizard/wizard-1.css' %}" rel="stylesheet" type="text/css" />
{% endblock stilo %}


{% block scripts_local %}
    <script>
        function cambio_metrica_indicador()
        {
            var metrica_indicador = document.getElementById("id_metrica_indicador");
            var caja_nivel_referencia = document.getElementById("caja_nivel_referencia");
            var caja_denominador = document.getElementById("caja_denominador");
            var caja_fuente_denominador = document.getElementById("caja_fuente_denominador");
            var caja_factor = document.getElementById("caja_factor");
            var caja_formula = document.getElementById("caja_formula");
            
            if (metrica_indicador.value=="metrica") {

                caja_nivel_referencia.className = 'invisible';
                caja_denominador.className = 'invisible';
                caja_fuente_denominador.className = 'invisible';
                caja_factor.className = 'invisible';
                caja_formula.className = 'invisible';    
            } else
            {
                caja_nivel_referencia.className = 'form-group';
                caja_denominador.className = 'form-group';
                caja_fuente_denominador.className = 'form-group';
                caja_factor.className = 'form-group';
                caja_formula.className = 'form-group';   
            }
        }
    </script>

{% endblock scripts_local %}



{% block content %}
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="card card-custom mt-7">
            <div class="card-body p-0">
                <!--begin::Wizard-->
                <div class="wizard wizard-1" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="false">
                    <!--begin::Wizard Nav-->
                    <div class="wizard-nav border-bottom">
                        <div class="wizard-steps p-8 p-lg-10">
                            <!--begin::Wizard Step 1 Nav-->
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                <div class="wizard-label">
                                    <div class="wizard-icon">
                                        <span class="svg-icon svg-icon-4x">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Map/Marker1.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero" />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon-->
                                        </span>
                                    </div>
                                    <h3 class="wizard-title">1. Origen</h3>
                                </div>
                                <span class="svg-icon svg-icon-xl wizard-arrow">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <!--end::Wizard Step 1 Nav-->
                            <!--begin::Wizard Step 2 Nav-->
                            <div class="wizard-step" data-wizard-type="step">
                                <div class="wizard-label">
                                    <div class="wizard-icon">
                                        <span class="svg-icon svg-icon-4x">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Files/Selected-file.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon-->
                                        </span>
                                    </div>
                                    <h3 class="wizard-title">2. Descripción</h3>
                                </div>
                                <span class="svg-icon svg-icon-xl wizard-arrow">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <!--end::Wizard Step 2 Nav-->
                           
                            <!--begin::Wizard Step 5 Nav-->
                            <div class="wizard-step" data-wizard-type="step">
                                <div class="wizard-label">
                                    <div class="wizard-icon">
                                        <span class="svg-icon svg-icon-4x">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Flag.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M3.5,3 L5,3 L5,19.5 C5,20.3284271 4.32842712,21 3.5,21 L3.5,21 C2.67157288,21 2,20.3284271 2,19.5 L2,4.5 C2,3.67157288 2.67157288,3 3.5,3 Z" fill="#000000" />
                                                    <path d="M6.99987583,2.99995344 L19.754647,2.99999303 C20.3069317,2.99999474 20.7546456,3.44771138 20.7546439,3.99999613 C20.7546431,4.24703684 20.6631995,4.48533385 20.497938,4.66895776 L17.5,8 L20.4979317,11.3310353 C20.8673908,11.7415453 20.8341123,12.3738351 20.4236023,12.7432941 C20.2399776,12.9085564 20.0016794,13 19.7546376,13 L6.99987583,13 L6.99987583,2.99995344 Z" fill="#000000" opacity="0.3" />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon-->
                                        </span>
                                    </div>
                                    <h3 class="wizard-title">3. Ficha Técnica</h3>
                                </div>
                                <span class="svg-icon svg-icon-xl wizard-arrow last">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <!--end::Wizard Step 5 Nav-->
                        </div>
                    </div>
                    <!--end::Wizard Nav-->
                    <!--begin::Wizard Body-->
                    <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                        <div class="col-xl-12 col-xxl-7">
                            <!--begin::Wizard Form-->
                            <form required method="POST" class="form" id="kt_form" data-sub_grupo-url="{% url 'Lista_sub_grupo_ajax'%}" >
                                {% csrf_token %}
                                <!--begin::Wizard Step 1-->
                                <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                    <h3 class="mb-10 font-weight-bold text-dark">ORIGEN</h3>
                                   <div class="row">
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>¿Indicador o Métrica?:</label>
                                                {{ form.metrica_indicador}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="postcode" placeholder="Postcode" value="3000" /> -->
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                            <!--end::Input-->
                                        </div>

                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Tipo de Indicador:</label>
                                                {{ form.tipo_indi}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="postcode" placeholder="Postcode" value="3000" /> -->
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                   </div>
                                   
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Proceso:</label>
                                                {{ form.proceso}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="postcode" placeholder="Postcode" value="3000" /> -->
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Grupo General:</label>
                                                {{ form.grupo_general}} 
                                                
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="state" placeholder="State" value="VIC" /> -->
                                                <span class="form-text text-muted">Please enter your State.</span>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Sub Grupo:</label>
                                                {{ form.sub_grupo}}
                                                
                                                <!-- <span class="form-text text-muted">Please enter your City.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                       
                                        <div class="col-xl-6">
                                            <!--begin::Select-->
                                            <div class="form-group">
                                                <label>Nombre:</label>
                                                {{ form.nombre}}
                                               
                                            </div>
                                            <!--end::Select-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 1-->

                                <!--begin::Wizard Step 2-->
                                <div class="pb-5" data-wizard-type="step-content">
                                    <h4 class="mb-10 font-weight-bold text-dark">DESCRIPCIÓN</h4>
                                    
                                    <div class="row">
                                        <div  class="col-xl-4">
                                            <!--begin::Input-->
                                            <div id="caja_nivel_referencia"   class="form-group">
                                                <label>Nivel de Referencia:</label>
                                                {{ form.nivel_Referencia }}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="width" placeholder="Package Width" value="110" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Width in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Sistema de Procesamineto:</label>
                                                {{ form.cargo}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="height" placeholder="Package Height" value="90" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Height in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Vigiancia y Control:</label>
                                                {{ form.vigil_control}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="packagelength" placeholder="Package Length" value="150" />
                                                <span class="form-text text-muted">Please enter your Package Length in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Objetivo:</label>
                                                {{ form.objetivo }}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="width" placeholder="Package Width" value="110" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Width in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Justificación</label>
                                                {{ form.justificacion}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="height" placeholder="Package Height" value="90" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Height in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            
                                            <div>
                                                <div class="form-group ">
                                                    <label>Responsable:</label>
                                                    {{ form.cargo}}
                                                </div>

                                            </div>
                                                
                                            <div>
                                                <div class="form-group">
                                                    <label>Dominio:</label>
                                                    {{ form.dominio}}
                                                    <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="packagelength" placeholder="Package Length" value="150" />
                                                    <span class="form-text text-muted">Please enter your Package Length in CM.</span> -->
                                                </div>

                                            </div>

                                            
                                           
                                            
                                            <!--end::Input-->
                                        </div>
                                        
                                    </div>

                                   
                                </div>
                                <!--end::Wizard Step 2-->
                                
                                <!--begin::Wizard Step 5-->
                                <div class="pb-5" data-wizard-type="step-content">
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Nombre del Numerador o Métrica:</label>
                                                {{ form.nombre_numerador }}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="width" placeholder="Package Width" value="110" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Width in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div  class="col-xl-4">
                                            <!--begin::Input-->
                                            <div id="caja_denominador" class="form-group">
                                                <label>Nombre del Denominador:</label>
                                                {{ form.nombre_denominador}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="height" placeholder="Package Height" value="90" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Height in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">

                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <label>Periodicidad:</label>
                                                    {{ form.periodicidad}}
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Cantidad Periodicidad:</label>
                                                    {{ form.cantidad_periodicidad}}
                                                </div>
                                            </div>
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="packagelength" placeholder="Package Length" value="150" />
                                                <span class="form-text text-muted">Please enter your Package Length in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Fuente Númerador o Métrica:</label>
                                                {{ form.fuente_num }}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="width" placeholder="Package Width" value="110" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Width in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div id="caja_fuente_denominador"  class="form-group">
                                                <label>Fuente Denominador:</label>
                                                {{ form.fuente_den}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="height" placeholder="Package Height" value="90" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Height in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Estandar del Indicador o Métrica:</label>
                                                {{ form.estandar}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="packagelength" placeholder="Package Length" value="150" />
                                                <span class="form-text text-muted">Please enter your Package Length in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div   class="col-xl-4">
                                            <!--begin::Input-->
                                            <div id="caja_factor" class="form-group">
                                                <label>Factor:</label>
                                                {{ form.factor }}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="width" placeholder="Package Width" value="110" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Width in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div id="caja_formula" class="form-group">
                                                <label>Formula:</label>
                                                {{ form.formula}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="height" placeholder="Package Height" value="90" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Height in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>

                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Unidad de Medida:</label>
                                                {{ form.unidad_Medida}}
                                                <!-- <input type="text" class="form-control form-control-solid form-control-lg" name="height" placeholder="Package Height" value="90" /> -->
                                                <!-- <span class="form-text text-muted">Please enter your Package Height in CM.</span> -->
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        
                                    </div>

                                    <div class="row">

                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>Tendencia Ascendente:</label>
                                                {{ form.tendencia_ascendente}}
                                           </div>
                                            <!--end::Input-->
                                        </div>

                                    </div>
                  
                                </div>
                                <!--end::Wizard Step 5-->
                                <!--begin::Wizard Actions-->
                                <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                    <div class="mr-2">
                                        <button type="button" id="prev-step" class="btn btn-light-primary font-weight-bolder px-10 py-3" data-wizard-type="action-prev">
                                        <span class="svg-icon svg-icon-md mr-3">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-left.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                                                    <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon-->
                                        </span>Previous</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success font-weight-bolder px-10 py-3" data-wizard-type="action-submit">Submit
                                        <span class="svg-icon svg-icon-md ml-3">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Check.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002)" />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon-->
                                        </span></button>
                                        <button type="button" id="next-step" class="btn btn-primary font-weight-bolder px-10 py-3" data-wizard-type="action-next">Next
                                        <span class="svg-icon svg-icon-md ml-3">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                                                    <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon-->
                                        </span></button>
                                    </div>
                                </div>
                                <!--end::Wizard Actions-->
                            </form>
                            
                            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                
                            <script>
                                $("#id_grupo_general").change(function () {
                                    var url = $("#kt_form").attr("data-sub_grupo-url");  // get the url of the `load_cities` view
                                    var grupo_generalId = $(this).val();  // get the selected country ID from the HTML input
            
                                    $.ajax({                       // initialize an AJAX request
                                    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                                    data: {
                                        'grupo_general': grupo_generalId       // add the country id to the GET parameters
                                    },
                                    success: function (data) {   // `data` is the return of the `load_cities` view function
                                        $("#id_sub_grupo").html(data);  // replace the contents of the city input with the data that came from the server
                                    }
                                    });
                                });

                            </script>
                            <!--end::Wizard Form-->
                        </div>
                    </div>
                    <!--end::Wizard Body-->
                </div>
            </div>
            <!--end::Wizard-->
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
{% endblock content %}


{% block scripts%}
    {% load static %}

    <!--begin::Page Scripts(used by this page)-->
		<script src="{% static 'theme/demo1/dist/assets/js/pages/custom/wizard/wizard-1.js' %}"></script>
    <!--end::Page Scripts-->

{% endblock %}



