{% extends 'base/index.html' %}

{% block titulo %}
    <title>Crear Oportunidad de Ejecución</title>
{% endblock titulo %}


{% block content %}
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    
    <div class="container row justify-content-center aling-items-center">
        
        <!-- <center> -->
            <div class="card card-custom  col-lg-7 mt-6">
                
                <div class="card-body ">
                    <form class="form" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3 class="kt-section__title">Registrar Oportunidad de Ejecución</h3>
                            <br>

                            <div class="form-group">
                                <label>Oportunidad de Ejecución:</label>
                                {{ form.oport_ejec}}
                                <span class="form-text text-muted">Por Favor Ingrese el Oportunidad de Ejecución</span>
                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="submit" class="btn btn-primary" value="Guardar">
                                </div>
                    
                                <div class="col-lg-6 text-right">
                                    <button type="reset" class="btn btn-secondary">Borrar</button>
                                    <a class="btn btn-danger" href="{% url 'Oportunidad_Ejecucion_list' %}">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        <!-- </center> -->
        
    </div>
</div>

{% endblock content %}