
{% extends 'base/index.html' %}

{% block titulo %}
    <title>Crear Unidad de Medida</title>
{% endblock titulo %}


{% block content %}
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container row justify-content-center aling-items-center">
            <div class="card card-custom  col-lg-7 mt-6">
                <div class="card-body ">       

                    <form class="form" method="post"> <!--se agrego el metrodo post-->
                        {% csrf_token %}
                        <div class="card-body">
                            <h3 class="kt-section__title">Registrar Unidad de Medida</h3>
                            <hr>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>Nombre de la Unidad de Medida:</label>
                                    {{ form.unid_medida }}
                                    <!-- <input type="email" class="form-control" placeholder="Enter full name"/> -->
                                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                                </div>

                            </div>
                        </div>
                          
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="submit" class="btn btn-primary" value="Guardar">
                                </div>
                    
                                <div class="col-lg-6 text-right">
                                    <button type="reset" class="btn btn-secondary">Borrar</button>
                                    <a class="btn btn-danger" href="{% url 'Unidad_Medida_list' %}">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}





